body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #2c2c2c;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
.main-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  min-width: 98px;
  height: 32px;
  background-color: #bbf330;
  border: none;
}
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: auto;
}
.navigation {
  margin-right: 30px;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.nav-link {
  display: block;
  padding: 28px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  text-decoration: underline;
  font-weight: 700;
}

.hero {
  padding-top: 14px;
  padding-bottom: 69px;
}
.hero-container {
  display: flex;
  align-items: center;
  gap: 143px;
}
.hero-text-wrap {
  max-width: 511px;
}
.hero-title {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero-img-wrap {
  border: 26px solid #ffe550;
  border-radius: 100%;
}


.about {
  background: #ffe550;
  padding: 118px 0;
}
.about .container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.about-text-wrap {
  max-width: 573px;
}
.about-title {
  font-size: 42px;

  line-height: 1.2;
  margin-bottom: 20px;
}
.about-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.about-item {
}
.about-icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.about-icon-wrap:hover {
  background-color: #7eb101;
}
.about-icon-wrap:hover > .about-icon {
  fill: #fff;
}
.about-icon {
  fill: #7eb101;
}
/* .about-icon-wrap:hover + .about-sub-title{
  color: red;
} */
.about-sub-title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.4;
}
.about-text {
  line-height: 1.5;

}
.about-button {
  border: 2px solid #7eb101;
  background-color: #fff;
}
.about-button:hover,
.about-button:focus {
  background-color: #7eb101;
  border-color: #fefefe;
  color: #fefefe;
}

.favorite {
  padding-bottom: 100px;
  padding-top: 120px;

}
.favorite-title {
  font-size: 42px;
text-align: center;
margin-bottom: 20px;
}
.favorite-text {
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.favorite-item {
  width: calc((100% - 64px) /3);
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid #ffe550;
border-radius: 197px;
background: #fefefe;
}
.customers {
  padding-top: 140px;
  padding-bottom: 126px;
  background-color: #ffe550;
}

.customers-title {
  font-size: 42px;
  margin-bottom: 20px;
}
.customers-descr {
  font-size: 16px;
  margin-bottom: 32px;

}
.customers-list {
  display: flex;
  gap: 139px;
 
}
.customers-item { max-width: 501px;
  border-radius: 0 30px 30px 30px;
  background-color: #fefefe;
  padding: 14px;
}
.customers-icon-list {
  display: flex;
  gap: 4px;
  margin-bottom: 28px;
}
.customers-icon {
}
.customers-text {
  font-weight: 700;
font-size: 18px;
margin-bottom: 40px;
}
.customers-name {
  font-weight: 500;
font-size: 14px;
line-height: 1.5;
margin-bottom: 2px;
}
.customer-description {
  line-height: 1.5;
}
.customers-wraper {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
}
.customers-wraper::after {
  content:"";
  position: absolute;
 left: 160px;
height: 52px;
width: 1px;
background-color: #7eb101;

}